body{
	margin: 0;
	font-family: Roboto;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color: #1693e0;
	position: fixed;
	top: 0;
	width:100%;
	z-index: 2;
}

li {
	width: 15%;
	float: left;

}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 10%;
	padding-bottom: 10%;
	}


li a:hover {
	background-color: #106aa1;
}

img:hover{
	transform: scale(1.05);
	box-shadow: 1em 1.5em rgba(0,0,0,.5);
	outline: #00AAFF solid 2px;
}



.containerHome {
	text-align: center;
	padding-top: 5%;
	padding-left: ;
	font-size:20px;
	display: grid;
	width: 100%;
	grid-template-columns: 22.22vw 33.33vw 20.25vw 20.25vw;
	grid-template-rows: 10vh 15vh 36vh 36vh;
	grid-column-gap: 1vw;
	grid-row-gap: 2.22vh;

}

.containerPhones {
	padding-top: 10%;
	padding-left: ;
	font-size:20px;
	display: grid;
	width: 100%;
	grid-template-columns: 22.22vw 22.22vw 22.22vw 22.22vw;
	grid-template-rows: 36vh 36vh 36vh 36vh;
	grid-column-gap: 3.4vw;
	grid-row-gap: 3.33vh;

}

.containerDesktop {
	padding-top: 10%;
	font-size:20px;
	display: grid;
	width: 100%;
	grid-template-columns: 46vw 46vw;
	grid-template-rows: 50vh 50vh 50vh 50vh;
	grid-column-gap: 5vw;
	grid-row-gap: 1.05vw;

}

.containerProfile {
	padding-top: 10%;
	font-size:20px;
	display: grid;
	width: 100%;
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
	grid-template-rows: 11vw 11vw 11vw 11vw;
	grid-column-gap: 2.7vw;
	grid-row-gap: 1.05vw;

}

.containerArtists {
	padding-top: 10%;
	font-size:20px;
	display: grid;
	width: 100%;
	grid-template-columns: 20.25vw 20.25vw 20.25vw 20.25vw;
	grid-template-rows: 10vh 50vh 50vh 50vh;
	grid-column-gap: 5vw;
	grid-row-gap: 1.05vw;

}

.phoneHome{
	width: 22.22vw;
	height: 74.22vh;
	grid-row: 3/5;
}

.phone{
	width: 22.22vw;
	height: 74.22vh;
	grid-row: 1/3;
}

.phone2{
	width: 22.22vw;
	height: 74.22vh;
	grid-row: 3/4;
}

.desktopHome{
	width: 33.33vw;
	height: 36vh;
	grid-column: 2/3;
}

.desktop{
	width: 49vw;
	height: 50vh;

}

.profileHome{
	width: 20.25vw;
	height: 36vh;

}

.profile{
	width: 10vw;
	height: 10vw;

}
#rightCB{
	float: right;
	padding: 0px;
	margin: 0px;
	padding-top: 1.5%;
	color: white;
}

#splash{
	grid-column: 1/5;
}

#profileLabel{
	grid-column: 3/5;
}

.name {
	grid-column: 1/4;
}
